<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="css/ionicons.min.css"/>

        <!-- if using sass (run gulp sass first), then uncomment below and remove the css includes above
        <link href="css/ionic.app.css" rel="stylesheet">
        -->

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!--<script src="https://rawgit.com/jpillora/xdomain/gh-pages/dist/0.6/xdomain.js" slave="http://phpacademy.co/app/public/proxy"></script>-->

        <!-- your app's js -->
        <script src="js/jquery.js"></script>
        <script src="js/contacto.js"></script>
        <script src="js/fastclick.js"></script>
        <script>
            document.addEventListener("deviceready", ondeviceready, false);

            function ondeviceready() {

            navigator.splashscreen.hide();
            StatusBar.show();

            document.addEventListener("backbutton", function(e){

               if($.mobile.activePage.is('index.html')){
                   e.preventDefault();
                   navigator.app.exitApp();
               }
               else {
                   navigator.app.backHistory()
               }
            }, false);

            }
        </script>
    </head>
    <body ng-app="contacto" ng-controller="contactoController">

        <ion-pane>
            <ion-header-bar class="bar bar-header bar-assertive">
                <a href="index.html" class="icon ion-reply-all" style="font-size: 200%; color:white;"></a>
                <h1 class="title"><strong class="title">Contacto</strong></h1>
            </ion-header-bar>

            <ion-content>
                <div class="card">
                  <div style="text-align:center;"class="item item-text-wrap">
                    <p>Los campos marcados con asterisco <strong class="assertive">*</strong> son obligatorios.</p>
                    <p>Si al seleccionar un departamento, su municipio no aparece listado, es porque en la plataforma de atención ese municipio no cuenta con personero disponible...</p>
                  </div>
                </div>
                <form>
                    <div class="list" ng-submit="addMessage()">
                        <label class="item item-input">
                            <span class="input-label">Nombre Completo<strong class="assertive">*</strong>:</span>
                            <input type="text" ng-model="msg.name" required minlength="20" maxlength="70" >
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Cedula<strong class="assertive">*</strong>:</span>
                            <input type="tel" ng-model="msg.nit" required minlength="10" maxlength="12">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Direccion:</span>
                            <input type="text" ng-model="msg.direction">
                        </label>
                        <label class="item item-input item-select">
                            <span class="input-label">Departamento<strong class="assertive">*</strong>:</span>
                            <select ng-model="msg.departamento" data-ng-change="getMunicipios(msg)" required>
                                <option ng-repeat="dpto in departamentos" value="{{dpto.id}}">{{dpto.nombre}}</option>
                            </select>
                        </label>
                        <label class="item item-input item-select">
                            <span class="input-label">Municipio<strong class="assertive">*</strong>:</span>
                            <select ng-model="msg.municipio_id"required>
                                <option ng-repeat="mun in municipios" value="{{mun.id}}">{{mun.nombre}}</option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Email<strong class="assertive">*</strong>:</span>
                            <input type="email" ng-model="msg.email" placeholder="ejemplo@ejemplo.com">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Tel/Cel<strong class="assertive">*</strong>:</span>
                            <input type="tel" ng-model="msg.phone" minlength="7" maxlength="10">
                        </label>
<!--                         <label class="item item-input item-select">
                                <div class="input-label">
                                    Tipo:
                                </div>
                                <select ng-model="msg.message_type_id" required>
                                    <option selected value="1">Consulta</option>
                                    <option value="2">Petion</option>
                                    <option value="3">Reclamo</option>
                                    <option value="4">Otro</option>
                                </select>
                            </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Categoria:
                            </div>
                            <select ng-model="msg.message_category_id" required>
                                <option selected value="1">Derechos Humanos</option>
                                <option value="2">Servicios Publicos</option>
                                <option value="3">Conflicto Armado</option>
                                <option value="4">Medio Ambiente</option>
                                <option value="5">Conducta funcionarios publicos</option>
                                <option value="6">Derechos fundamentales</option>
                                <option value="7">Participacion ciudadana</option>
                                <option value="8">Victimas</option>
                                <option value="9">Discriminacion</option>
                                <option value="10">Corrupcion</option>
                                <option value="11">Otra</option>
                            </select>
                        </label> -->
                        <label class="item item-input">
                            <span class="input-label">Mensaje<strong class="assertive">*</strong>:</span>
                            <textarea ng-model="msg.message" id="message" cols="30" rows="14" required placeholder="Máximo 500 caracteres..." minlength="0" maxlength="500"></textarea>
                        </label>
                        <button type="submit" ng-click="addMessage(msg)" class="button button-block button-positive">
                            Enviar Mensaje
                        </button>
                    </div>
                </form>
            </ion-content>
            <ion-footer-bar class="bar bar-footer bar-assertive">
              <img class="title-image" style="margin-left:5%; height:150%;"src="img/logo.png" alt=""/>
              <h1 class="title"><strong>APPersoneria</strong></h1>
            </ion-footer-bar>
        </ion-pane>
    </body>
</html>
